.button {
  display: inline-flex;
  width: 100%;
  flex: 0 auto;
}
   
.button.wide {
    width: 100%;
  }
  
.button button {
  background-color: #e0e0e0;
  border: 0;
  font-size: 1.5rem;
  flex: 1 0 auto;
  padding: 0;
}

.button.blue button {
  background-color: rgb(185, 214, 231);
}

.button.darkblue button {
  background-color: rgb(113, 196, 248);
}
 