.display {
    margin-left: 30%;
    background-color: rgb(190, 223, 243);
    text-align: right;
    flex: 1 0 auto;
    width: 40%;
  }
  
.display > div {
    font-size: 1.5rem;
    padding: 0rem 0.7rem 0.1rem 0.5rem;
    margin: 1px;
}
.header-display{
  margin: 1px 4px;
}